{
    "endOfLine": "lf",
    "singleQuote": true,
    "semi": false,
    "bracketSameLine": false,
    "printWidth": 140,
    "singleAttributePerLine": true,
    "tailwindPreserveDuplicates": false,
    "trailingComma": "es5",
    "tabWidth": 4,
    "plugins": ["prettier-plugin-tailwindcss"]
}
