@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

/* .xterm-screen {
    width: 99% !important;
}


.xterm-rows>div {
    width: 100% !important;
    overflow: hidden;
} */

@layer components {
    .card {
        @apply rounded-xl border border-zinc-700 bg-zinc-900 p-2;
    }

    .slower-animation {
        @apply transition-all duration-300 ease-linear;
    }

    .faster-animation {
        @apply transition-all duration-100 ease-linear;
    }
}
