@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

/* .xterm-screen {
    width: 99% !important;
}


.xterm-rows>div {
    width: 100% !important;
    overflow: hidden;
} */


@layer components {
    .card {
        @apply bg-zinc-900 border border-zinc-700 p-2 rounded-xl;
    }

    .slower-animation {
        @apply duration-300 ease-linear transition-all;
    }

    .faster-animation {
        @apply duration-100 ease-linear transition-all;
    }
}
